# Pandas由入門到進階

## 宣告資料

Pandas常用的資料類型有：
1. Series：一維陣列的資料，列(index)為資料儲存順序
2. DataFrame：二維的資料陣列，由列(index)及欄(column)組合而成

Pandas模組匯入

```
import pandas as pd
```

### Series 一維資料

```
se = pd.Series(串列)
```

In [6]:
# 宣告
import pandas as pd

# 一維資料 Series
price = [100, 50, 120, 80, 30]
se = pd.Series(price)
se

# 取得索引及值
list(se.index)
se.values

fruits = ['Apple', 'Banana', 'Cherry', 'Orange', 'Tomato']
price = [100, 50, 120, 80, 30]

se2 = pd.Series(price, index=fruits)
se2

Apple     100
Banana     50
Cherry    120
Orange     80
Tomato     30
dtype: int64

In [7]:
# 取得數值資料的統計資訊
se2.describe()

count      5.000000
mean      76.000000
std       36.469165
min       30.000000
25%       50.000000
50%       80.000000
75%      100.000000
max      120.000000
dtype: float64

In [11]:
# 取值 loc(用索引名稱),iloc(用索引值)
se
se.loc[2]
se.iloc[2]

se2.iloc[2]
se2.loc['Cherry']

120

In [12]:
se

0    100
1     50
2    120
3     80
4     30
dtype: int64

In [9]:
# 統計：加總、最小值、最大值、平均值、中位數
se2.sum()
se2.min()
se2.max()
se2.mean()
se2.median()

80.0

### DataFrame 二維資料

```
df = pd.DataFrame(字典)
```

範例資料:

```
{
  "姓名":["林小明", "陳聰明", "黃美麗", "張小娟", "廖小誠"],
  "國文":[65,92,78,83,70],
  "英文":[90,72,76,93,56],
  "數學":[81,85,91,89,77],
  "社會":[79,53,47,94,80]
}
```

In [14]:
# 定義資料
import pandas as pd
df = pd.DataFrame({
  "姓名":["林小明", "陳聰明", "黃美麗", "張小娟", "廖小誠"],
  "國文":[65,92,78,83,70],
  "英文":[90,72,76,93,56],
  "數學":[81,85,91,89,77],
  "社會":[79,53,47,94,80]
})
df

    姓名  國文  英文  數學  社會
0  林小明  65  90  81  79
1  陳聰明  92  72  85  53
2  黃美麗  78  76  91  47
3  張小娟  83  93  89  94
4  廖小誠  70  56  77  80

In [17]:
# 顯示 index , columns
df.index
df.columns

# 取得所有的值
df.values

array([['林小明', 65, 90, 81, 79],
       ['陳聰明', 92, 72, 85, 53],
       ['黃美麗', 78, 76, 91, 47],
       ['張小娟', 83, 93, 89, 94],
       ['廖小誠', 70, 56, 77, 80]], dtype=object)

In [20]:
# 資料資訊 shape (row, column), describe(), info()
df.shape
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   姓名      5 non-null      object
 1   國文      5 non-null      int64
 2   英文      5 non-null      int64
 3   數學      5 non-null      int64
 4   社會      5 non-null      int64
dtypes: int64(4), object(1)
memory usage: 332.0+ bytes

In [21]:
df

    姓名  國文  英文  數學  社會
0  林小明  65  90  81  79
1  陳聰明  92  72  85  53
2  黃美麗  78  76  91  47
3  張小娟  83  93  89  94
4  廖小誠  70  56  77  80

In [29]:
## 取得列資料 索引, iloc, loc
df.iloc[1]
df.loc[1]
df.values[1]

df.iloc[3]
df.loc[3]
df.values[3]

array(['張小娟', 83, 93, 89, 94], dtype=object)

In [30]:
df

    姓名  國文  英文  數學  社會
0  林小明  65  90  81  79
1  陳聰明  92  72  85  53
2  黃美麗  78  76  91  47
3  張小娟  83  93  89  94
4  廖小誠  70  56  77  80

In [32]:
# 取得欄資料(單欄, 多欄)
df['姓名']

0    林小明
1    陳聰明
2    黃美麗
3    張小娟
4    廖小誠
Name: 姓名, dtype: object

In [ ]:
# 取得指定欄列的資料(儲存格)


# 張小娟的社會成績

94

In [ ]:
# 取前幾名, 後幾名

In [ ]:
# 篩選

In [ ]:
# 設定某一欄為索引

In [ ]:
# 黃美麗的數學成績

## 讀取資料

Pandas可以讀取本地或是網路上「表格式」的資料，如CSV、Excel、json、html，方法有：
1. read_csv()
2. read_excel()
3. read_json()
4. read_html()

## 專題:AQI空氣品質查詢

In [ ]:
# 查詢空氣品質的互動程式

## 專題:中央氣象局地震測報中心

https://scweb.cwa.gov.tw/

https://scweb.cwa.gov.tw/zh-tw/earthquake/data

## 專題:大專校院校別學生數統計


https://depart.moe.edu.tw/ed4500/News_Content.aspx?n=5A930C32CC6C3818&sms=91B3AAE8C6388B96&s=8AF80DB14ADF7370