**Python Homework 3**

```
# Problem 1:
請參考並改寫下列 Python 程式 (fill_table_2d(list2d))，
可以將一維串列資料依序填入 HTML 表格中，同時能指定每列(row)顯示的元素個數。

def fill_table(data, cols):
    pass
其中，data 為一維串列資料，cols 表示每列包含的元素個數。    
```
![fille_table_2d](./images/Code-fille_table_2d.jpg)

In [3]:
# Problem 1
def fill_table(data, cols):
    """
    將一維串列資料依序填入 HTML 表格中。
    data: 一維串列資料。
    cols: 每列包含的元素個數。
    """
    rows = (len(data) + cols - 1) // cols
    
    html = "<style> th { padding: 6px; } </style>" + \
           "<table border=1>"
    
    for r in range(rows):
        html += "\n<tr>" 
        for c in range(cols):
            index = r * cols + c
            if index < len(data):
                html += f"<th>{data[index]}</th>"
            else:
                html += "<th></th>" 
        html += "</tr>"
    
    html += "\n</table>"
    
    return html

data = [k for k in range(1, 21)]
cols = 5
html_table = fill_table(data, cols)

html_file = 'table_output.html'
with open(html_file, 'w', encoding='utf-8') as file:
    file.write(html_table)

html_link = f'<a href="{html_file}">View HTML Table</a>'
print(html_link)

<a href="table_output.html">View HTML Table</a>

In [10]:
# Problem 2:

# 已知資料 data 如下:   
data = '''
國立臺北科技大學,互動設計系,50,29
國立臺北科技大學,創意設計學士班,13,0
國立臺北科技大學,工業設計系,42,17
國立臺北科技大學,文化事業發展系,26,9
國立臺北科技大學,應用英文系,33,10
國立臺北科技大學,經營管理系,36,20
國立臺北科技大學,資訊與財金管理系,28,35
國立臺北科技大學,資訊工程系,9,54
國立臺北科技大學,化學工程與生物科技系,34,91
國立臺北科技大學,分子科學與工程系,14,26
國立臺北科技大學,材料及資源工程系,23,77
國立臺北科技大學,能源與冷凍空調工程系,1,43
'''

# 請撰寫 Python 程式，將上述資料拆解後，存入二維陣列 lst2d 中。

rows = data.strip().split('\n')

lst2d = [row.split(',') for row in rows]

print('[\n' + ',\n'.join(['    ' + str(row) for row in lst2d]) + '\n]')

[
    ['國立臺北科技大學', '互動設計系', '50', '29'],
    ['國立臺北科技大學', '創意設計學士班', '13', '0'],
    ['國立臺北科技大學', '工業設計系', '42', '17'],
    ['國立臺北科技大學', '文化事業發展系', '26', '9'],
    ['國立臺北科技大學', '應用英文系', '33', '10'],
    ['國立臺北科技大學', '經營管理系', '36', '20'],
    ['國立臺北科技大學', '資訊與財金管理系', '28', '35'],
    ['國立臺北科技大學', '資訊工程系', '9', '54'],
    ['國立臺北科技大學', '化學工程與生物科技系', '34', '91'],
    ['國立臺北科技大學', '分子科學與工程系', '14', '26'],
    ['國立臺北科技大學', '材料及資源工程系', '23', '77'],
    ['國立臺北科技大學', '能源與冷凍空調工程系', '1', '43']
]

```
# Problem 3:
請至政府開放資料平台，使用關鍵字"大專院校各校科系別學生數"，讀取"112學年大專院校各校科系別學生數（CSV檔）"。
接著請找出我們學校中有日間部四技的系，將校名、系別與新生人數(含男女生)，填入 HTML 的表格中，部分輸出結果如下圖所示。
(可以使用 requests 或 pandas 來讀取資料檔案。)
```
![北科部分科系的新生人數](./images/TaipeiTech-Departments.jpg)

In [24]:
import requests
import pandas as pd

url = "https://stats.moe.gov.tw/files/detail/112/112_students.csv"
response = requests.get(url)
response.encoding = 'utf-8'

with open("112_students.csv", "w", encoding='utf-8') as f:
    f.write(response.text)

df = pd.read_csv("112_students.csv")

school_dept = "國立臺北科技大學"
ntut_school_dept = df[
    (df["學校名稱"] == school_dept)
    & (df["日間∕進修別"] == "D 日")
    & (df["等級別"] == "B 四技")
]

html_table = """
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>112學年國立臺北科技大學日間部四技新生人數</title>
<style>
    table {{
        border-collapse: collapse;
        width: 100%;
    }}
    th, td {{
        border: 1px solid black;
        text-align: center;
        padding: 8px;
        white-space: nowrap;
    }}
    th {{
        background-color: #f2f2f2;
    }}
    tr:nth-child(even) {{
        background-color: #f9f9f9;
    }}
</style>
</head>
<body>

<h1>112學年國立臺北科技大學日間部四技新生人數</h1>
<table>
    <tr>
        <th>校名</th>
        <th>系別</th>
        <th>一年級男生</th>
        <th>一年級女生</th>
    </tr>
    {}
</table>
</body>
</html>
"""

table_rows = []
for index, row in ntut_school_dept.iterrows():
    table_rows.append(
        f"""
    <tr>
        <td>{row['學校名稱']}</td>
        <td>{row['科系名稱']}</td>
        <td>{row['一年級男生']}</td>
        <td>{row['一年級女生']}</td>
    </tr>
    """
    )

html_table = html_table.format("".join(table_rows))

with open("112_ntut_school_dept.html", "w", encoding='utf-8') as f:
    f.write(html_table)